<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Items</title>
	<link rel=stylesheet href="{{ url_for('static', filename='easyui/themes/default/easyui.css') }}">
	<script src="{{url_for('static', filename='easyui/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='easyui/jquery.easyui.min.js')}}"></script>
	<link rel=stylesheet href="{{ url_for('static', filename='easyui/themes/icon.css') }}">
	<link rel=stylesheet href="{{ url_for('static', filename='easyui/themes/color.css') }}">
	<link rel=stylesheet href="{{ url_for('static', filename='css/demo.css') }}">
	
</head>
<body>
	<table id="dg" title="ItemsTable" class="easyui-datagrid" style="width:100%;height:300"
			url="Items_get"
			toolbar="#toolbar" pagination="true"
			rownumbers="true" fitColumns="true" singleSelect="true">
		<thead>
			<tr>
				<th field="id" width="50">id</th>
				<th field="NAME" width="50">NAME</th>
			</tr>
		</thead>
	</table>
	<div id="toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newItem()">New Item</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editItem()">Edit Item</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyItem()">Remove Item</a>
	</div>
	
	<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
			closed="true" buttons="#dlg-buttons">
		<div class="ftitle">Item Settings</div>
		<form id="fm" method="post" novalidate>
			<div class="fItem">
				<label>id:</label>
				<input name="id" class="easyui-textbox">
			</div>
			<div class="fItem">
				<label>NAME:</label>
				<input name="NAME" class="easyui-textbox">
			</div>
		</form>
	</div>
	<div id="dlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem()" style="width:90px">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
	</div>
	<script type="text/javascript">
		var url;
		function newItem(){
			$('#dlg').dialog('open').dialog('setTitle','New Item');
			$('#fm').form('clear');
			url = 'Items_save';
		}
		function editItem(){
			var row = $('#dg').datagrid('getSelected');
			if (row){
				$('#dlg').dialog('open').dialog('setTitle','Edit Item');
				$('#fm').form('load',row);
				url = 'Items_update?id='+row.id;
			}
		}
		function saveItem(){
			$('#fm').form('submit',{
				url: url,
				onSubmit: function(){
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$.messager.show({
							title: 'Error',
							msg: result.errorMsg
						});
					} else {
						$('#dlg').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the Item data
					}
				}
			});
		}
		function destroyItem(){
			var row = $('#dg').datagrid('getSelected');
			if (row){
				$.messager.confirm('Confirm','Are you sure you want to destroy this Item?',function(r){
					if (r){
						$.post('Items_destroy',{id:row.id},function(result){
							if (result.success){
								$('#dg').datagrid('reload');	// reload the Item data
							} else {
								$.messager.show({	// show error message
									title: 'Error',
									msg: result.errorMsg
								});
							}
						},'json');
					}
				});
			}
		}
	</script>
	<style type="text/css">
		#fm{
			margin:0;
			padding:10px 30px;
		}
		.ftitle{
			font-size:14px;
			font-weight:bold;
			padding:5px 0;
			margin-bottom:10px;
			border-bottom:1px solid #ccc;
		}
		.fItem{
			margin-bottom:5px;
		}
		.fItem label{
			display:inline-block;
			width:80px;
		}
		.fItem input{
			width:160px;
		}
	</style>
</body>
</html>